<!DOCTYPE html>
<html>
<head>
  <title>Flights Search</title>
  <link rel="stylesheet" href="/bootstrap.css" type="text/css">
</head>
<body>

<div class="container">

  <div class="row">
    <div class="col">
      <a class="btn btn-link" href="/hotels">Hotels</a>
    </div>
  </div>

  <div class="row">
    <div class="col pt-3">
      <div class="jumbotron w-100 centered">
        <h1>Flights Search</h1>

        <p class="lead">Find all tickets in one place.</p>

        <p>
          <a class="btn btn-lg btn-danger" href="/logout" role="button">Logout</a>
        </p>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col pb-3">
      <div class="form-inline">

        <div class="input-group w-100">
          <input type="text" class="form-control" name="city" placeholder="City ...">
          <button id="searchBtn"
                  class="btn btn-primary input-group-addon">Search
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div id="flightsContainer"></div>
    </div>
  </div>
</div>

<script id="flightsTemplate" type="text/x-jQuery-tmpl">
  <div class="card">
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>From</th>
      <th>To</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
    </tr>
    </thead>

    {{each flights}}
    <tr>
      <td>${id}</td>
      <td>${from}</td>
      <td>${to}</td>
      <td>${departureTime}</td>
      <td>${arrivalTime}</td>
    </tr>
    {{/each}}
  </table>
  </div>
</script>

<script src="/jquery.min.js"></script>
<script type="text/javascript"
        src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
<script>
  $(document).ready(function () {

    $('#searchBtn').click(function () {
      var city = $("input[name=city]").val();
      $.get('/flights/search?search=' + city, handleFlights);
    });

    $.get('/flights/top', handleFlights);

    function handleFlights(data) {
      var flights = JSON.parse(data);
      $("#flightsContainer").empty();
      $("#flightsTemplate").tmpl({flights: flights}).appendTo("#flightsContainer");
    }
  });
</script>

</body>
</html>
